.card {
  background-color: #202142;
  color: #fff;
  border-radius: 15px;
}

.card-img-top {
  width: 100%;
  height: 30%;
  object-fit: fill, contain;
}

.card-body {
  height: fit-conent;
}

.card h3 {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  color: hotpink;
}
