.footer {
  background-color: #181d21;
  color: white;
  height: 40vh;
  padding: 2rem;
}

.footer-logo {
  font-family: "Our Friend Electric", sans-serif;
}

@import url("https://fonts.cdnfonts.com/css/our-friend-electric");

.language-section {
  display: grid;
  justify-content: center;
  padding-bottom: 1rem;
}

.rights-section {
  text-align: center;
  padding: 2rem;
}

.rights-section p {
  font-size: 0.7rem;
  color: #707070;
}

.rights-section h4 {
  font-size: 3rem;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.link-styling {
  text-decoration: none;
  color: rgb(236, 236, 236);
  padding: 1rem;
}

.link-styling:hover {
  text-decoration: none;
  color: white;
}

.vertical-line {
  float: left;
  height: 50px;
  width: 1px;
  background-color: #707070;
}
