.footer{
    background-color: #181D21;
    color: white;
    height: 40vh;
    padding: 2rem;
}

.language-section{
    display: grid;
    justify-content: center;
    padding-bottom: 1rem;
}

.rights-section{
    text-align: center;
    padding: 2rem;
}

.footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.link-styling{
    text-decoration: none;
    color: white;
}

.link-styling:hover{
    text-decoration: none;
    color: white;
}