.navbar {
  position: fixed;
  overflow: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-custom {
  background-color: #161c1c70;
  height: 10vh;
}

.navbar-custom-solid {
  background-color: #161c1c;
  height: 10vh;
}
