.socials-section{
    background-color: #707070;
    height: 40vh;
    padding: 9rem; 
    color: white;
}

.socials-section h3{
    text-align: center;
    color: #FFB200; 
    padding: 3rem;
    font-size: 2rem;
}

.icon-group{
    display: flex;
    justify-content: center;
}