.aplaguetale.game-info-wrapper .game-info-header {
  background-image: url(/src/pages/assets/images/aplaguetale/aplaguetalehero.jpg);
}

.lastofus.game-info-wrapper .game-info-header {
  background-image: url(/src/pages/assets/images/thelastofus/thelastofushero.jpg);
}

.tombraider.game-info-wrapper .game-info-header {
  background-image: url(/src/pages/assets/images/tombraider/tombraiderhero.jpg);
}

.uncharted.game-info-wrapper .game-info-header {
  background-image: url(/src/pages/assets/images/uncharted/unchartedhero.jpg);
}

.thewitcher.game-info-wrapper .game-info-header {
  background-image: url(/src/pages/assets/images/thewitcher/thewitcherhero.jpg);
}

.reddead.game-info-wrapper .game-info-header {
  background-image: url(/src/pages/assets/images/reddeadredemption/reddeadhero.jpg);
}

.assassins.game-info-wrapper .game-info-header {
  background-image: url(/src/pages/assets/images/assassins/assassinhero.jpg);
}

.skyrim.game-info-wrapper .game-info-header {
  background-image: url(/src/pages/assets/images/skyrim/skyrimhero.jpg);
}

.aplaguetale.game-info-img-1 {
  background-image: url(/src/pages/assets/images/aplaguetale/aplaguetale1.jpg);
}
.aplaguetale.game-info-img-2 {
  background-image: url(/src/pages/assets/images/aplaguetale/aplaguetale2.jpg);
}
.aplaguetale.game-info-img-3 {
  background-image: url(/src/pages/assets/images/aplaguetale/aplaguetale3.jpg);
}
.aplaguetale.game-info-img-4 {
  background-image: url(/src/pages/assets/images/aplaguetale/aplaguetale4.jpg);
}
